@{
    ViewData["Title"] = "Home Page";
}

@model Survey

    <div class="container mt-5">
        <div class="d-flex flex-column justify-content-center border border-dark w-50">
            <div class="ml-4">
                <h4><u>Hello Ninja</u></h4>
            </div>
            <form asp-action="Submit" asp-controller="Home" method="post">
                <div class="form-group row mt-2 ml-2">
                    <label class="col 3" asp-for="Name">Name:</label>
                    <div class="col 3">
                        <input asp-for="Name"><br>
                    </div>
                </div>
                <span asp-validation-for="Name"></span>
                <div class="form-group row ml-2">
                    <label class="col 3" asp-for="Language">Favorite Language:</label>
                    <div class="col 3">
                        <select asp-for="Language" id="">
                            <option value="none" selected disabled>Select a Language</option>
                            <option value="Javascript">Javascript</option>
                            <option value="Python">Python</option>
                            <option value="C#">C#</option>
                            <option value="Old Norse">Old Norse</option>
                        </select><br>
                    </div>
                </div>
                <span asp-validation-for="Language"></span>
                <div class="form-group row ml-2">
                    <label class="col 3" asp-for="Location">Dojo Location:</label>
                    <div class="col 3">
                        <select asp-for="Location" id="">
                            <option value="none" selected disabled>Select a Location</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Seattle">Seattle</option>
                            <option value="Miami">Miami</option>
                            <option value="New York">New York</option>
                        </select><br>
                    </div>
                </div>
                <span asp-validation-for="Location"></span>
                <div class="form-group row ml-4">
                    <label asp-for="Comment">Comment (optional):</label>
                    <textarea asp-for="Comment" id="" cols="48" rows="5"></textarea><br>
                </div>
                <span asp-validation-for="Comment"></span>
                <div class="mb-3 mr-3 d-flex justify-content-end">
                    <input type="submit" value="Submit" class="btn btn-info btn-outline-dark">
                </div>
            </form>
        </div>
    </div>